@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

body {
    margin: 0;
    background: #f5f7fb;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Noto Sans JP', sans-serif;
}

/* セクションタイトル */
h2 {
    margin-top: 30px;
    color: #34495e;
    border-left: 5px solid #4a90e2;
    padding-left: 10px;
}

h2.link {
    cursor: pointer;
}

h3 {
    border-bottom: 2px solid black;
}

div.top {
    width: 100vw;
    height: calc(100vw / 1920 * 1080);
    background-image: url(IMG_0431.JPG);
    background-size: cover;
}

.carousel {
    display: flex;
    overflow-x: hidden;
    height: 40vw;
    min-height: 600px;
    transition: 0.5s;
}

.carousel-item {
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exam-docs {
    background-color: rgb(16 162 63);
    color: white;
}

.tango1800 {
    background-color: rgb(16, 96, 162);
    color: white;
}

.tetris {
    background-color: #fbf1de;
    color: black;
}

.carousel-item>img {
    height: 50%;
    margin-right: 50px;
    max-width: 35%;
    object-fit: contain;
}

.carousel-container {
    width: 100%;
    overflow-x: hidden;
    margin-top: 4rem;
    position: relative;
}

.description {
    max-width: 45%;
}

.navigate {
    padding: 15px 35px;
    background: #ff5700;
    border-radius: 9999px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: fit-content;
}

.arrow {
    background-color: #00000050;
    width: 50px;
    height: 50px;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    color: white;
    position: absolute;
    top: calc(50% - 25px);
    z-index: 1;
    cursor: pointer;
}

.articles {
    padding: 20px;
}

.article {
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 10px;
}

.article>img {
    width: 40%;
    object-fit: contain;
}

button.show-more {
    border: 1px solid black;
    background: #00000000;
    color: black;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 20px;
    width: stretch;
    width: -moz-available;
    width: -webkit-fill-available;
}

@media (max-width: 600px) {
    .carousel-item {
        flex-direction: column;
        padding: 20px;
    }

    .carousel-item>img {
        margin-right: 0;
        max-width: 80%;
    }

    .description {
        max-width: 80%;
    }

    .article {
        flex-direction: column;
        gap: 0;
    }

    .article>img {
        width: 100%;
    }
}